body {
    margin:0;
    background:#111;
    color:#f5f5f5;
    font-family: "Times New Roman", serif;
}

#app {
    max-width:600px;
    margin:100px auto;
    text-align:center;
    border:2px solid gold;
    padding:30px;
    background:#000;
}

.top {
    display:flex;
    justify-content:space-between;
    font-size:20px;
}

#question {
    font-size:28px;
    margin:40px 0;
}

input {
    font-size:20px;
    padding:10px;
    width:150px;
}

button {
    padding:10px 20px;
    font-size:18px;
    cursor:pointer;
    background:gold;
    border:none;
}

#jumpscare {
    display:none;
    position:fixed;
    inset:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:9999;
}
